<div id="results">
  <h3>result</h3>
  <h4><%= a "#{@hurl}", :href => "#{@hurl}" %></h4>
  <h4><%= @hurl %></h4>
  <p>to copy the result quickly, right click the link and select copy, or double click the text that is not linked and copy that</p>
</div>
